<mat-nav-list>
    <div class="logo py-4">
      <img src="../../assets/revature.png" alt="Company Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink = "/home">
      <mat-icon>home</mat-icon> Home
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink = "/library">
      <mat-icon>book</mat-icon> Library
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/objectives">
      <mat-icon>check_circle</mat-icon> Objectives
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/create">
      <mat-icon>create</mat-icon> Create Sets
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/login">
      <mat-icon>login</mat-icon> Log In
    </a>

  </mat-nav-list>
