label {
    color: black;
}

button {
    background-color: gray;
}

#toastMessage{
    background-color: green;
    color: white; 
    text-align: center; 
    float: left; 
    max-width: 75%; 
    font-size: large;
    margin-left: 10%;
}