:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer {
    width: 260px;
}

mat-drawer-container {
    height: 100%;
}

mat-drawer {
    background: #474C55;
}

* {
    font-family: 'Futura Std', 'Futura', sans-serif;
}