div#page_card {
  padding: 18px;
}

.row {
  border: 2px solid black;
  border-radius: 8px;
  padding: 0.5em;
  margin-bottom: 1em;
  min-width: fit-content;
}

img {
  width: 350px;
  height: auto;
}

.rightImg {
  width: 350px;
  height: auto;
}
