.flex-container {
    display: flex;
    border: 2px solid black;
    border-radius: 8px;
    padding: 0.5em;
    margin-bottom: 1em;
}

.flex-child {
    flex: 1;
}  

img {
    width: 350px;
    height: auto;
}

.rightImg{
    width: 350px;
    height: auto;
    float:right;
}