<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Home</div>
  <div
    class="page__content shadow p-3 position-relative"
    style="min-width: fit-content"
  >
    <div id="page_card" class="page__content-data">
      <h3
        style="
          text-align: center;
          text-decoration: underline;
          font-weight: bold;
        "
      >
        Welcome to Revature Overcharge!
      </h3>

      <div class="flex-container row">
        <div class="flex-child magenta col">
          <img src="../../../assets/students_studying.png" />
        </div>

        <div class="flex-child green col">
          <h4
            style="
              text-align: center;
              text-decoration: underline;
              font-weight: bold;
            "
          >
            Study Up with Overcharge!
          </h4>
          <p>
            Prepare for your next Quiz! Ace your next QC! Use resources created
            by your fellow Revature employees!
          </p>
        </div>
      </div>

      <div class="flex-container row">
        <div class="flex-child green col">
          <h4
            style="
              text-align: center;
              text-decoration: underline;
              font-weight: bold;
            "
          >
            Make your trainer proud!
          </h4>
          <p>
            Recieve the recognition and praise you've always longed for! Excel
            in your learning with constant practice and healthy habits!
          </p>
        </div>

        <div class="flex-child magenta col">
          <img src="../../../assets/proudTrainerGuy.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
