<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Home</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data">
      <h3 class="h3">Welcome to Revature Overcharge!</h3>

      <p>
        Revature Overcharge is a study system for Revature employees. Users can
        create their own flashcard decks and use decks created by other users to
        study. When running through a deck, a user can type their answer before
        viewing the answer to a flashcard, giving them the ability to compare
        their answer with the real one. Flashcards can be marked as mastered to
        prevent requestioning. Decks can be rated. A timer is also provided to
        coordinate study and break sessions. Daily and weekly objectives are
        measured to award points to users.
      </p>
    </div>
  </div>
</div>
