<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Objectives</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data">
        <div *ngIf="!loggedIn" style="text-align: center; margin-top: 100px;"><b>Login to See Objectives and Get Some Points!</b></div>
      <div *ngIf="loggedIn">
        <div>
            <div style="float: right;">
              <b>You have {{userPointCount}} points!</b>
            </div><br>
        <p><b>Daily</b></p>
        <ul>
          <!-- The errors are from the interpolation in the progress bar stuff, but it still works fine-->
          <div *ngFor="let obj of objList.slice(0,2)">
            <li> {{obj.name}} <p style="float: right; margin: 0px;">+{{obj.pointsToAward}} points</p> </li>
                <div class="progress" *ngIf="obj.progressCount<100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1" style="width:{{obj.progressCount}}%"></div>
                  </div>
                  <div class="progress" *ngIf="obj.progressCount>=100">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1" style="width:{{obj.progressCount}}%"></div>
                  </div>
            </div>
        </ul>
         </div><br>

         <div>
        <p><b>Weekly</b></p>
        <ul>
          <div *ngFor="let obj of objList.slice(2,5)">
            <li> {{obj.name}} <p style="float: right; margin: 0px;">+{{obj.pointsToAward}} points</p> </li>
                <div class="progress" *ngIf="obj.progressCount<100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1" style="width:{{obj.progressCount}}%"></div>
                  </div>
                  <div class="progress" *ngIf="obj.progressCount>=100">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1" style="width:{{obj.progressCount}}%"></div>
                  </div>
            </div>
        </ul>
        </div>
      </div>
      </div>
    </div>
  </div>
