<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Objectives</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data">
        <div>
            <button (click)="checkValue()">+</button> (Button for Testing purposes)

            <div style="float: right;">
              <b>You have {{userPointCount}} points!</b>
            </div>
        <p><b>Daily</b></p>
        <ul>
          <!-- The errors are from the interpolation in the progress bar stuff, but it still works fine-->
            <li> {{nameObj}} <p style="float: right; margin: 0px;">+{{pointsObj}} points</p> </li>
                <div class="progress">
                    <div class={{progressBar}} role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{value}}%"></div>
                  </div>
            <li> {{nameObj2}} <p style="float: right; margin: 0px;">+{{pointsObj2}} points</p> </li>
            <div class="progress">
                <div class={{progressBar}} role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{value}}%"></div>
              </div>
            <li> {{nameObj3}} <p style="float: right; margin: 0px;">+{{pointsObj3}} points</p> </li>
            <div class="progress">
                <div class={{progressBar}} role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{value}}%"></div>
              </div>
        </ul>
         </div><br>

         <div>
        <p><b>Weekly</b></p>
        <ul>
            <li> {{nameObj4}} <p style="float: right; margin: 0px;">+{{pointsObj4}} points</p> </li> 
            <div class="progress">
                <div class={{progressBar}} role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{value}}%"></div>
              </div>
            <li> {{nameObj5}} <p style="float: right; margin: 0px;">+{{pointsObj5}} points</p> </li>
            <div class="progress">
                <div class={{progressBar}} role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{value}}%"></div>
              </div>
            <li> {{nameObj6}} <p style="float: right; margin: 0px;">+{{pointsObj6}} points</p> </li> 
            <div class="progress">
                <div class={{progressBar}} role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{value}}%"></div>
              </div>
        </ul>
        </div>
      </div>
    </div>
  </div>
