<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">User Profile</div>
    <div class="page__content shadow p-3 position-relative">
      <div>
        <div class="row g-3">
            <div class="col-sm-3" style="margin:auto; margin-top: 15px;">
                <h5><label for="formFile" class="form-label">Insert Profile Picture</label></h5>
                <input class="form-control" type="file" id="formFile">
              </div>
              <div class="col-sm-3">
              <input type="color" id="colorPicker">
              <h5><input type="button" id="colorButton" value="Click to Change Background" onclick="changeColor()"></h5>
              </div>
              <div class="col-md-5" style="margin:auto; margin-top: 15px;">
                <h5><label for="inputEmail4" class="form-label">Profile Name</label></h5>
              <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col-md-6">
                <h5><label for="inputEmail4" class="form-label">First Name</label></h5>
              <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col-md-6">
                <h5><label for="inputEmail4" class="form-label">Last Name</label></h5>
              <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
            <div class="col-md-6">
              <h5><label for="inputEmail4" class="form-label">Email</label></h5>
              <input type="email" class="form-control" id="inputEmail4">
            </div>
            <div class="col-md-6">
              <h5><label for="inputPassword4" class="form-label">Password</label></h5>
              <input type="password" class="form-control" id="inputPassword4">
            </div>
            <div class="col-12">
              <h5><label for="inputAddress" class="form-label">Address</label></h5>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
            <div class="col-12">
              <h5><label for="inputAddress2" class="form-label">Address 2</label></h5>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-3" style="margin:auto;">
              <h5><label for="inputCity" class="form-label">City</label></h5>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-3" style="margin:auto;">
              <h5><label for="inputState" class="form-label">State</label></h5>
              <select id="inputState" class="form-select">
                <option selected>Choose...</option>
                <option>USA</option>
              </select>
            </div>
            <div class="col-md-2" style="margin:auto;">
              <h5><label for="inputZip" class="form-label">Zip</label></h5>
              <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="col-12" style="text-align: center;">
              <button type="button" class="btn btn-primary">Update</button>
            </div>
            </div>
      </div>
    </div>
  </div>