<div class="container-fluid">
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="col">
        <button mat-icon-button (click)="toggleSidebar()">
          <mat-icon class="align-middle">menu</mat-icon>
        </button>
      </div>

      <div class="col">
        <ngb-toast
          *ngIf="loginPoints"
          [autohide]="true"
          [delay]="3000"
          (hidden)="loginPoints = false"
        >
          Received +10 points for Logging In!
        </ngb-toast>
      </div>

      <ng-template #popContent>
        <div *ngIf="!loggedIn">
          <b>Login to See Objectives and Get Some Points!</b>
        </div>
        <div *ngIf="loggedIn">
          <div
            style="
              float: left;
              margin-right: 10px;
              border-right: 2px solid black;
            "
          >
            <p style="margin-right: 60px; margin-bottom: 5px">
              <b><u>Daily</u></b>
            </p>
            <ul style="padding: 0">
              <div *ngFor="let obj of objList.slice(0, 3)">
                <!-- The errors are from the interpolation in the progress bar stuff, but it still works fine-->
                <li style="margin-right: 5px">
                  <i>{{ obj.name }}</i>
                </li>
                <div
                  class="progress"
                  *ngIf="obj.progressPercent < 100"
                  style="margin-right: 10px"
                >
                  <div
                    class="{{ progressBar }}"
                    role="progressbar"
                    aria-valuenow="50"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width:{{ obj.progressPercent }}%"
                  ></div>
                </div>
                <div
                  class="progress"
                  *ngIf="obj.progressPercent >= 100"
                  style="margin-right: 10px"
                >
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="0"
                    aria-valuemin="0"
                    aria-valuemax="1"
                    style="width:{{ obj.progressPercent }}%"
                  ></div>
                </div>
                <p>
                  <b>+{{ obj.pointsToAward }} points</b>
                </p>
              </div>
            </ul>
          </div>

          <div style="float: right">
            <p style="margin-right: 40px; margin-bottom: 5px">
              <b><u>Weekly</u></b>
            </p>
            <ul style="padding: 0">
              <div *ngFor="let obj of objList.slice(3, 6)">
                <li>
                  <i>{{ obj.name }}</i>
                </li>
                <div class="progress" *ngIf="obj.progressPercent < 100">
                  <div
                    class="{{ progressBar }}"
                    role="progressbar"
                    aria-valuenow="50"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width:{{ obj.progressPercent }}%"
                  ></div>
                </div>
                <div class="progress" *ngIf="obj.progressPercent >= 100">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="0"
                    aria-valuemin="0"
                    aria-valuemax="1"
                    style="width:{{ obj.progressPercent }}%"
                  ></div>
                </div>
                <p>
                  <b>+{{ obj.pointsToAward }} points</b>
                </p>
              </div>
            </ul>
          </div>
        </div>
      </ng-template>
      <div class="col">
        <button
          type="button"
          class="btn btn-outline-secondary"
          style="background-color: #474c55; float: right"
          [ngbPopover]="popContent"
        >
          <p style="color: white; margin: 0px" (click)="updateObjValues()">
            Objectives
          </p>
        </button>
      </div>

      <div class="col">
        <button
          id="menuBtn"
          mat-button
          [matMenuTriggerFor]="menu"
          class="user mt-1 d-flex align-items-center"
          style="margin: auto"
        >
          <mat-icon>account_circle</mat-icon>
          {{ getUsername() }}
          <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <div *ngIf="loggedIn">
            <!-- To Be Implemented with User Profile Functionality -->
            <!-- <button mat-menu-item routerLinkActive="list-item-active" routerLink="/profile"> 
                    <mat-icon>account_circle</mat-icon>
                    User Profile 
                  </button> -->
            <button
              id="logoutHeaderBtn"
              (click)="logout()"
              mat-menu-item
              routerLink="/home"
            >
              <mat-icon>exit_to_app</mat-icon>
              Logout
            </button>
          </div>
          <div *ngIf="!loggedIn">
            <button
              id="loginHeaderBtn"
              mat-menu-item
              (click)="loginModal.open()"
              routerLink="/library"
            >
              <mat-icon>login</mat-icon>
              Login
            </button>
          </div>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <modal-login #loginModal></modal-login>
</div>
