<mat-toolbar style="float: right; margin:0%">
  <mat-toolbar-row style="float: right; content:0%">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="col-md-4" style="margin-right: 45%;">
      <input type="search" class="form-control" id="searchBar" placeholder="Search for a Set">
    </div>

    <ngb-toast *ngIf="loginPoints" [autohide]="true" [delay]="3000" (hidden)="loginPoints=false">
      Received +10 points for Logging In!
    </ngb-toast>

    <ng-template #popContent>
      <div *ngIf="!loggedIn"><b>Login to See Objectives to get Points!</b></div>
      <div *ngIf="loggedIn">
        <div style="float: left; margin-right: 10px; border-right: 2px solid black;">
          <p style="margin-right: 60px; margin-bottom: 5px;"><b><u>Daily</u></b></p>
          <ul style="padding: 0;">
            <div *ngFor="let obj of objList.slice(0,3)">
              <!-- The errors are from the interpolation in the progress bar stuff, but it still works fine-->
              <li style="margin-right: 5px;"> <i>{{obj.name}}</i> </li>
              <div class="progress" *ngIf="obj.progressPercent<100" style="margin-right: 10px;">
                <div class={{progressBar}} role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{obj.progressPercent}}%"></div>
              </div>
              <div class="progress" *ngIf="obj.progressPercent>=100" style="margin-right: 10px;">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1" style="width:{{obj.progressPercent}}%"></div>
              </div>
              <p><b>+{{obj.pointsToAward}} points</b></p>
            </div>
          </ul>
        </div>

        <div style="float: right;">
          <p style="margin-right: 40px; margin-bottom: 5px;"><b><u>Weekly</u></b></p>
          <ul style="padding: 0;">
            <div *ngFor="let obj of objList.slice(3,6)">
              <li> <i>{{obj.name}}</i></li>
              <div class="progress" *ngIf="obj.progressPercent<100">
                <div class={{progressBar}} role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{obj.progressPercent}}%"></div>
              </div>
              <div class="progress" *ngIf="obj.progressPercent>=100">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1" style="width:{{obj.progressPercent}}%"></div>
              </div>
              <p><b>+{{obj.pointsToAward}} points</b></p>
            </div>
          </ul>
        </div>
      </div>
    </ng-template>

    <div style="background-color: #474C55; float: right;">
      <button type="button" class="btn btn-outline-secondary mr-2" [ngbPopover]="popContent">
        <p style="color: #FFFFFF; margin: 0px;" (click)="updateObjValues()">Objectives</p>
      </button>
    </div><br>


    <div class="row mr-2">
      <ul class="row m-0 align-items-center">
        <li>
          <button id="menuBtn" mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
            <mat-icon>account_circle</mat-icon>
            {{ getUsername() }}
            <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            
            <div *ngIf="loggedIn">
              <!-- To Be Implemented with User Profile Functionality -->
              <!-- <button mat-menu-item routerLinkActive="list-item-active" routerLink="/profile"> 
                  <mat-icon>account_circle</mat-icon>
                  User Profile 
                </button> -->
              <button id="logoutHeaderBtn" (click)="logout()" mat-menu-item routerLink="/home">
                <mat-icon>exit_to_app</mat-icon>
                Logout
              </button>
            </div>
            <div *ngIf="!loggedIn">
              <button id="loginHeaderBtn" mat-menu-item (click)="loginModal.open()" routerLink="/library">
                <mat-icon>login</mat-icon>
                Login
              </button>
            </div>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<modal-login #loginModal></modal-login>