<!--<div class="container-fluid page">-->
    <!--<div id="time_header" class="d-flex page__box p-3 mt-2">Work/Break Timer</div>-->
    <!--<div class="page__content shadow p-3 position-relative">
        <div class="page__content-data ">-->

<div id="timer_parent_container">
    <div id="mode_Text">
        <h4>{{mode.name}}</h4>
    </div>
    <div *ngIf="inputIsShown" id="hours_mins_container" class="form-row">
        <div id="hours_container" class="col">
            <label for="hours" style="font-weight: 600;">Hours</label>
            <input type="number" id="hours" [(ngModel)]="hours" class="form-control">
        </div>
        <div id="mins_container" class="col">
            <label for="minutes" style="font-weight: 600;">Minutes</label>
            <input type="number" id="minutes" [(ngModel)]="minutes" class="form-control">
        </div>
        
    </div>
    <div id="timer_display_container">
        <countdown #cd [config]="config" (event)="handleEvent($event)"></countdown> <br />
    </div>
    
    <div id="timer_buttons_container">
        <div id="countdown_nav" class="btn-group">
            <button (click)="cd.begin()" class="btn btn-sm">
                <mat-icon >play_arrow</mat-icon>Play</button>
            <button (click)="cd.pause()" class="btn btn-sm">
                <mat-icon>pause</mat-icon>Pause</button>
            <button (click)="cd.restart()" class="btn btn-sm">
                <mat-icon>replay</mat-icon>Reset</button>
        </div>
        <br />
        <div id="countdown_options" class="btn-group">
            <button (click)="setCustomTime()" class="btn btn-sm">
                <mat-icon>create</mat-icon>Set Timer</button>
            <button (click)="toggleMode()" class="btn btn-sm">
                <mat-icon>cached</mat-icon>Change Mode</button>
            <button (click)="toggleInput()" type="checkbox" class="btn btn-sm">
                <mat-icon>pages</mat-icon>Toggle Input</button>
        </div>
    </div>
</div>
            <!-- <input type="number" [(ngModel)]="customTime" />
            <label> *Input time in seconds for now </label> -->

        <!--</div>
    </div>-->
<!--</div>-->